In [1]:
print("Hello, World!")

Hello, World!

In [3]:
if 5 > 2:
  print("Five is greater than two!")

Five is greater than two!

In [9]:
if 5 > 2:
print("Five is greater than two!")
#Python will give you an error if you skip the indentation

IndentationError: expected an indented block after 'if' statement on line 1 (2438256819.py, line 2)

In [15]:
if 5 > 2:
 print("Five is greater than two!") 
if 5 > 2:
        print("Five is greater than two!") 
#The number of spaces is up to you as a programmer, the most common use is four, but it has to be at least one.

Five is greater than two!
Five is greater than two!

In [17]:
if 5 > 2:
 print("Five is greater than two!")
        print("Five is greater than two!")
#You have to use the same number of spaces in the same block of code, otherwise Python will give you an error.

IndentationError: unexpected indent (3430240237.py, line 3)

In [21]:
#Comments starts with a #, and Python will ignore them:
#This is a comment
print("Hello, World!")

Hello, World!

In [23]:
#Comments can be placed at the end of a line, and Python will ignore the rest of the line:
print("Hello, World!") #This is a comment

Hello, World!

In [25]:
#A comment does not have to be text that explains the code, it can also be used to prevent Python from executing code:
#print("Hello, World!")
print("Cheers, Mate!")

Cheers, Mate!

In [27]:
#A variable is created the moment you first assign a value to it.
x = 5
y = "John"
print(x)
print(y)

5
John

In [29]:
#Variables do not need to be declared with any particular type, and can even change type after they have been set.
x = 4       # x is of type int
x = "Sally" # x is now of type str
print(x)

Sally

In [39]:
#If you want to specify the data type of a variable, this can be done with casting.
x = str(3)    # x will be '3'
y = int(3)    # y will be 3
z = float(3)  # z will be 3.0
print(type(x), type(y), type(z))

<class 'str'> <class 'int'> <class 'float'>

In [49]:
#Legal variable names:
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"
print(myvar)
print(my_var)
print(_my_var)
print(myVar)
print(MYVAR)
print(myvar2)

John
John
John
John
John
John

In [51]:
#Illegal variable names:
2myvar = "John"
my-var = "John"
my var = "John"
print(2myvar)
print(my-var)
print(my var)

SyntaxError: invalid decimal literal (3964950275.py, line 2)

In [55]:
#Unpack a list:
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

In [57]:
#The Python print() function is often used to output variables.
x = "Python is awesome"
print(x)

Python is awesome

In [59]:
#In the print() function, you output multiple variables, separated by a comma:
x = "Python"
y = "is"
z = "awesome"
print(x, y, z)

Python is awesome

In [61]:
#You can also use the + operator to output multiple variables:
x = "Python "
y = "is "
z = "awesome"
print(x + y + z)

Python is awesome

In [67]:
#For numbers, the + character works as a mathematical operator:
x = 5
y = 10
print(x + y)

15

In [69]:
#In the print() function, when you try to combine a string and a number with the + operator, Python will give you an error:
x = 5
y = "John"
print(x + y)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [73]:
#The best way to output multiple variables in the print() function is to separate them with commas, which even support different data types:
x = 5
y = "John"
print(x, y)

5 John

In [75]:
#Create a variable outside of a function, and use it inside the function
x = "awesome"

def myfunc():
  print("Python is " + x)

myfunc()

Python is awesome

In [77]:
#Create a variable inside a function, with the same name as the global variable
x = "awesome"

def myfunc():
  x = "fantastic"
  print("Python is " + x)

myfunc()

print("Python is " + x)

Python is fantastic
Python is awesome

In [79]:
#If you use the global keyword, the variable belongs to the global scope:
def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

In [81]:
#To change the value of a global variable inside a function, refer to the variable by using the global keyword:
x = "awesome"

def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

In [83]:
#Print the data type of the variable x:
x = 5
print(type(x))

<class 'int'>

In [85]:

# x = "Hello World" --> str	
# x = 20 --> int	
# x = 20.5 --> float	
# x = 1j	complex	
# x = ["apple", "banana", "cherry"] --> list	
# x = ("apple", "banana", "cherry") --> tuple	
# x = range(6) --> range	
# x = {"name" : "John", "age" : 36} --> dict	
# x = {"apple", "banana", "cherry"} --> set	
# x = frozenset({"apple", "banana", "cherry"}) --> frozenset	
# x = True --> bool	
# x = b"Hello" --> bytes	
# x = bytearray(5) --> bytearray	
# x = memoryview(bytes(5)) --> memoryview	
# x = None --> NoneType

''

In [87]:
#To verify the type of any object in Python, use the type() function:
x = 1    # int
y = 2.8  # float
z = 1j   # complex
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

In [99]:
#Integers:
x = 1
y = 35656222554887711
z = -3255522
print(type(x))
print(type(y))
print(type(z))
print()


#Floats:
x = 1.10
y = 1.0
z = -35.59
print(type(x))
print(type(y))
print(type(z))
print()


#Float can also be scientific numbers with an "e" to indicate the power of 10.
x = 35e3
y = 12E4
z = -87.7e100
print(type(x))
print(type(y))
print(type(z))
print()

#Complex:
x = 3+5j
y = 5j
z = -5j
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

<class 'float'>
<class 'float'>
<class 'float'>

<class 'float'>
<class 'float'>
<class 'float'>

<class 'complex'>
<class 'complex'>
<class 'complex'>

In [101]:
#Convert from one type to another:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

#convert from int to float:
a = float(x)

#convert from float to int:
b = int(y)

#convert from int to complex:
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

In [103]:
#Import the random module, and display a random number between 1 and 9:
import random
print(random.randrange(1, 10))

3

In [105]:
#Integers:
x = int(1)   # x will be 1
y = int(2.8) # y will be 2
z = int("3") # z will be 3
print(x)
print(y)
print(z)

1
2
3

In [107]:
#Floats:
x = float(1)     # x will be 1.0
y = float(2.8)   # y will be 2.8
z = float("3")   # z will be 3.0
w = float("4.2") # w will be 4.2
print(x)
print(y)
print(z)
print(w)

1.0
2.8
3.0
4.2

In [109]:
#Strings:
x = str("s1") # x will be 's1'
y = str(2)    # y will be '2'
z = str(3.0)  # z will be '3.0'
print(x)
print(y)
print(z)

s1
2
3.0

In [111]:
#You can use three double quotes:
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [113]:
#Or three single quotes:
a = '''Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.'''
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [115]:
#Get the characters from position 2 to position 5 (not included):
b = "Hello, World!"
print(b[2:5])

llo

In [117]:
#Get the characters from the start to position 5 (not included):
b = "Hello, World!"
print(b[:5])

Hello

In [119]:
#The upper() method returns the string in upper case:
a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

In [121]:
#The lower() method returns the string in lower case:
a = "Hello, World!"
print(a.lower())

hello, world!

In [123]:
#The strip() method removes any whitespace from the beginning or the end:
a = " Hello, World! "
print(a.strip()) # returns "Hello, World!"

Hello, World!

In [127]:
#Merge variable a with variable b into variable c:
a = "Hello"
b = "World"
c = a + b
print(c)

HelloWorld

In [131]:
#To add a space between them, add a " ":
a = "Hello"
b = "World"
c = a + " " + b
print(c)

Hello World

In [133]:
#As we learned in the Python Variables chapter, we cannot combine strings and numbers like this:
age = 36
txt = "My name is John, I am " + age
print(txt)

TypeError: can only concatenate str (not "int") to str

In [135]:
#Create an f-string:
age = 36
txt = f"My name is John, I am {age}"
print(txt)

My name is John, I am 36

In [137]:
#Add a placeholder for the price variable:
price = 59
txt = f"The price is {price} dollars"
print(txt)

The price is 59 dollars

In [139]:
#Display the price with 2 decimals:
price = 59
txt = f"The price is {price:.2f} dollars"
print(txt)

The price is 59.00 dollars

In [141]:
#Perform a math operation in the placeholder, and return the result:
txt = f"The price is {20 * 59} dollars"
print(txt)

The price is 1180 dollars

In [143]:
#You will get an error if you use double quotes inside a string that is surrounded by double quotes:
txt = "We are the so-called "Vikings" from the north."

SyntaxError: invalid syntax (3808314046.py, line 2)

In [145]:
#The escape character allows you to use double quotes when you normally would not be allowed:
txt = "We are the so-called \"Vikings\" from the north."
print(txt)

We are the so-called "Vikings" from the north.

In [161]:
##Other escape characters used in Python:


# \'	Single Quote	
# \\	Backslash	
# \n	New Line	
# \r	Carriage Return	
# \t	Tab	
# \b	Backspace	
# \f	Form Feed	
# \ooo	Octal value	
# \xhh	Hex value

In [159]:
# All string methods return new values. They do not change the original string.

# capitalize()	Converts the first character to upper case
# casefold()	Converts string into lower case
# center()	Returns a centered string
# count()	Returns the number of times a specified value occurs in a string
# encode()	Returns an encoded version of the string
# endswith()	Returns true if the string ends with the specified value
# expandtabs()	Sets the tab size of the string
# find()	Searches the string for a specified value and returns the position of where it was found
# format()	Formats specified values in a string
# format_map()	Formats specified values in a string
# index()	Searches the string for a specified value and returns the position of where it was found
# isalnum()	Returns True if all characters in the string are alphanumeric
# isalpha()	Returns True if all characters in the string are in the alphabet
# isascii()	Returns True if all characters in the string are ascii characters
# isdecimal()	Returns True if all characters in the string are decimals
# isdigit()	Returns True if all characters in the string are digits
# isidentifier()	Returns True if the string is an identifier
# islower()	Returns True if all characters in the string are lower case
# isnumeric()	Returns True if all characters in the string are numeric
# isprintable()	Returns True if all characters in the string are printable
# isspace()	Returns True if all characters in the string are whitespaces
# istitle()	Returns True if the string follows the rules of a title
# isupper()	Returns True if all characters in the string are upper case
# join()	Joins the elements of an iterable to the end of the string
# ljust()	Returns a left justified version of the string
# lower()	Converts a string into lower case
# lstrip()	Returns a left trim version of the string
# maketrans()	Returns a translation table to be used in translations
# partition()	Returns a tuple where the string is parted into three parts
# replace()	Returns a string where a specified value is replaced with a specified value
# rfind()	Searches the string for a specified value and returns the last position of where it was found
# rindex()	Searches the string for a specified value and returns the last position of where it was found
# rjust()	Returns a right justified version of the string
# rpartition()	Returns a tuple where the string is parted into three parts
# rsplit()	Splits the string at the specified separator, and returns a list
# rstrip()	Returns a right trim version of the string
# split()	Splits the string at the specified separator, and returns a list
# splitlines()	Splits the string at line breaks and returns a list
# startswith()	Returns true if the string starts with the specified value
# strip()	Returns a trimmed version of the string
# swapcase()	Swaps cases, lower case becomes upper case and vice versa
# title()	Converts the first character of each word to upper case
# translate()	Returns a translated string
# upper()	Converts a string into upper case
# zfill()	Fills the string with a specified number of 0 values at the beginning